.md-checkbox__container {
    display: flex;
    flex-direction: column;
  }
  
  .md-checkbox__label {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .md-checkbox__label--error {
    color: var(--colors_red);
  }
  
  .md-checkbox {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5715;
    background-color: var(--colors_white);
    background-image: none;
    border: 1px solid var(--colors_light-grey);
    border-radius: 2px;
    transition: all .3s;
  }
  .md-checkbox:hover {
    border-color: var(--colors_light-blue);
    border-right-width: 1px;
  }
  .md-checkbox:focus {
    border-color: var(--colors_light-blue);
    border-right-width: 1px;
    outline: 0;
  }
  .md-checkbox--error {
    border-color: var(--colors_red);
  }
  