
.Profile__back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colors_light-grey);
  border-radius: var(--border-radius_button);
  background-color: var(--colors_white);
  box-sizing: border-box;
  padding: 0.75rem;
  margin: 1rem;
  cursor: pointer;
}
.Profile__back-icon {
  height: var(--sizing_icon-height);
  width: var(--sizing_icon-height);
  margin-right: 0.5rem;
}

.Profile__header {
  display: flex;
  /* justify-content: space-between; */
}

.Profile__body-container {
  margin: 1rem;
}
.Profile__title {
  /* text-align: center; */
}

.Profile__wallet {
  margin-bottom: 2rem;
}

/* .Profile__location-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1rem;
} */
.Profile__location {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  max-width: 200px;
}
.Profile__location-actions {
  display: flex;
  justify-content: end;
}
.Profile__location-coord-input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5715;
  background-color: var(--colors_white);
  background-image: none;
  border: 1px solid var(--colors_light-grey);
  border-radius: 2px;
  transition: all .3s;
}
.Profile__location-coord-input:hover {
  border-color: var(--colors_light-blue);
  border-right-width: 1px;
}
.Profile__location-coord-input:focus {
  border-color: var(--colors_light-blue);
  /* box-shadow: 0 0 0 2px var(--ant-primary-color-outline); */
  border-right-width: 1px;
  outline: 0;
}
.Profile__location-coord-input--error {
  border-color: var(--colors_red);
}

.Profile__location-coord-label {
  display: flex;
  align-items: center;
}

.Profile__save {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colors_light-grey);
  border-radius: var(--border-radius_button);
  background-color: var(--colors_white);
  box-sizing: border-box;
  padding: 0.75rem;
  /* margin: 1rem; */
  cursor: pointer;
}

@media (max-width: 769px) {
  .Profile__location {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    max-width: 100%;
  }
}